@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --processingDuration: 0s;
}

.button-green {
  @apply bg-green-200 text-green-700 hover:bg-green-300 focus:bg-green-400 
}

.button-red {
  @apply bg-red-200 text-red-700 hover:bg-red-300 focus:bg-red-400 
}

.button-blue {
  @apply bg-blue-200 text-blue-700 hover:bg-blue-300 focus:bg-blue-400 
}

.button-yellow {
  @apply bg-yellow-200 text-yellow-700 hover:bg-yellow-300 focus:bg-yellow-400 
}

.button {
  @apply font-bold py-2 px-4 rounded transition-all text-lg;
}

.processing {
  animation: progress var(--processingDuration) linear;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.error-msg {
  @apply text-center w-full p-3 bg-red-200 text-red-500 font-bold rounded;
}